<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用例配置页面</title>
</head>
<body>
    <form method="post" action="/case_manage/">
        <input type="text" placeholder="请输入要展示的内容" name="text_id">
        <input type="submit">
        {% csrf_token %}
    </form>
    <table>
        <thead>
        <tr>
            <td>后端传回来的值</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{case}}</td>
            <td>{{text}}</td>
        </tr>
        </tbody>
    </table>
</body>
</html>